.container {
  width: 100%;
  height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  width: 25%;
}

.title {
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.text {
  text-align: justify;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 45px;
  }

  .text {
    text-align: center;
  }
}
