.container {
  width: 100vw;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
}

.content {
  width: 40%;
  padding-block: 80px;
}

.classSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.classContainer {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  transition: filter 0.3s ease;
  display: flex;
}

.classContainer a {
  width: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.classContainer:hover {
  filter: brightness(.8);
}

.imageBox {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: -5px 5px 20px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.imageBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.20;
  pointer-events: none;
}

.thumbnail {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nameBox {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin: 0;
  width: fit-content;
  font-size: clamp(1rem, 1vw, 1.8rem);
  text-align: center;
}

@media (max-width: 1920px) {
  .content {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 60%;
  }

  .imageBox {
    height: 240px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 60%;
  }

  .classSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .content {
    width: 80%;
  }

}
