.container {
  width: 100vw;
  height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
}

.content {
  width: 40%;
  padding-block: 80px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 1920px) {
  .content {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .content {
    width: 80%;
  }

  .phText {
    font-size: 14px;
  }
}
