.container {
  width: 100vw;
  height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
}

.titleContainer {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}
