.container {
  width: 100vw;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  width: 100%;
}

.content {
  width: fit-content;
  padding-block: 150px;
  display: grid;
  grid-template-columns: min-content;
}

.description {
  font-weight: 400;
  display: flex;
  gap: 7px;
}

.content a {
  color: inherit;
}

.pdfContainer {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

/* Annotation layer styling */
:global(.react-pdf__Page__annotations.annotationLayer .linkAnnotation > a) {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  transform: translate(1px, 0px);
  opacity: 1 !important;
}

.document {
  border: 2px solid black;
}

.controls {
  border: 2px solid black;
  background-color: #6B8EAD;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.pageNumberText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pageInput {
  font-family: "Jetbrains Mono";
  width: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}

.pageInput:focus {
  outline: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 20px;
}

.button:disabled .triangle path {
  fill: #312d3d;
  opacity: 0.5;
}

.triangle path {
  fill: black;
}


@media (hover: hover) {
  :global(.react-pdf__Page__annotations.annotationLayer .linkAnnotation > a::after) {
    content: '';
    background-color: #668BA8;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    position: absolute;
    transition: width .3s ease 0s, left .3s ease 0s;
  }

  :global(.react-pdf__Page__annotations.annotationLayer .linkAnnotation > a:hover::after) {
    width: 100%;
  }

  .triangle path:hover {
    fill: #303030;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
}
