.titleContainer {
  width: 50vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}

@media (max-width: 768px) {
  .titleContainer {
    width: 100vw;
  }
}
