.container {
  width: 100vw;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
  /* padding-block: 50px; */
}

.content {
  width: 40%;
}

@media (max-width: 480px) {
  .content {
    width: 60%;
  }


  .heading {
    font-size: 20px;
  }
}
