.container {
  width: 100vw;
  height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  width: 40%;
}
