.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  width: 40%;
  padding-block: 80px;
}

.content h1 {
  margin-top: 0;
}

@media (max-width: 480px) {
  .content {
    width: 60%;
  }

  .content h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 15px;
  }
}
