.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  width: 40%;
  padding-block: 80px;
}

.content h1 {
  margin-top: 0;
}

.content h2 {
  font-size: 25px;
  margin: 0;
}

.content h3 {
  font-size: 21px;
  margin-bottom: 0;
}

.content h4 {
  font-size: 19px;
  margin-bottom: 0;
}

.content h5 {
  font-size: 16px;
  margin: 0;
}

.content h6 {
  margin: 0;
  font-weight: 400;
  opacity: 70%;
  font-size: 12px;
}

.content ol {
  margin: 0;
}

.content ul {
  margin: 0;
}

.content pre {
  background-color: #2D2D2D;
  color: #F6F0D7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #F6F0D7 #2d2d2d;
}

.content code {
  margin: 0;
}


.content a {
  color: inherit;
}

@media (max-width: 768px) {
  .content {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .content {
    width: 60%;
  }

  .content h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 15px;
  }
}
