.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
}

.content {
  padding-block: 80px;
  width: 40%;
}

.content pre {
  background-color: #2D2D2D;
  color: #F6F0D7;
  border-radius: 5px;
  padding: 20px;
  white-space: pre-wrap;
}

.signature {
  font-weight: 400;
}

@media (max-width: 480px) {
  .content {
    width: 60%;
  }

  .content p {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

}
