.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content {
  padding-block: 80px;
  width: 40%;
}

.content h1 {
  margin-top: 0;
}

.content h2 {
  margin-top: 40px;
  margin-bottom: 0;
}

.content h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.content h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.content h6 {
  margin: 0;
  font-weight: 400;
  opacity: 70%;
  font-size: 12px;
}

.content pre {
  background-color: #2D2D2D;
  color: #F6F0D7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #F6F0D7 #2d2d2d;
}

.content a {
  color: inherit;
}

.content blockquote {
  border-left: 6px solid black;
  margin-left: 0;
  padding-block: 5px;
  padding-left: 20px;
}

.content blockquote p {
  margin: 0;
}

.content em {
  font-weight: 300;
  font-style: italic;
  color: #000;
}

.signature {
  font-weight: 400;
}

@media (max-width: 480px) {
  .content {
    width: 60%;
  }

  .content h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 15px;
  }
}
