.container {
  width: 100%;
  height: 100%;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  justify-content: center;
  align-items: center;
}

.content {
  padding-block: 80px;
}

.title {
  font-size: 40px;
  margin-top: 0;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.heading h2 {
  font-size: 24px;
  margin: 0;
}

.deviceName {
  margin-bottom: 5px;
}

.linkText {
  color: black;
  opacity: 50%;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.list {
  margin: 0;
}

/* Only do hover animation on desktop */
@media (hover: hover) {
  .linkText:hover {
    opacity: 70%;
    transform: translate(10px, 0px);
  }
}

@media (max-width: 1024px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }

  .heading {
    flex-direction: column;
    gap: 0;
  }

  .heading h2 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .heading {
    align-items: stretch;
    justify-content: center;
  }

}
