.container {
  width: 100%;
  height: 100%;
  background-color: #F6F0D7;
  display: flex;
  flex-direction: column;
  font-family: "Jetbrains Mono";
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}

.title {
  text-align: left;
  font-size: 40px;
  margin-top: 0;
}


.deviceName {
  margin-bottom: 5px;
}

.list {
  margin: 0;
}

.dotLink {
  opacity: 50%;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotLink:hover {
  opacity: 70%;
  transform: translate(10px, 0px);
}

@media (max-width: 1024px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 35px;
  }

  .deviceName {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .deviceName {
    font-size: 20px;
  }
}
